
*{
	margin: 0px;
	padding: 0px;

	font-family: sans-serif;

}

body
{
	background-image: url("image/organic.jpg");

   background-position: center;.
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   padding-top: 20PX;
}